{% extends "base.html" %}

{% block content %}

<h1>О Проекте</h1>
<h3>Что это и зачем?</h3>
<div>
    <p>Данный сайт - учебный проект по темам WEB`а в Яндекс.Лицее, представляющий из себя сайт, моделирующий управление
        поставками в компании по производству дронов. Основан на наработках, оставшихся с финала Олимпиады НТИ по
        профилю "Автоматизация бизнес-процессов".</p>
</div>
<h3>Навигация в главном меню</h3>
<div>
    <p>Главное меню, расположеное сверху, имеет несколько разделов, каждый из ниж ведёт к тому или иному месту на сайте.
        Чаще всего это формы, где можно посмотреть информацию из базы данных, либо занести новую информацию в базы
        данных.</p>
    <ol>
        <li>Главная</li>
            <div>
                <p>Ведёт на главную страницу с описанием сайта. То есть сюда.</p>
            </div>
        <li>Регистрация поступления</li>
            <div>
                <p>Ведёт на страницу "Регистрация поступления". Там можно добавить в базу данных "поступление комплектующи",
                    которые приходят на наш воображаемый склад. Для этого в форме нужно будет указать Номер поступления,
                    дату, а так же вид поступивших комплектующих.
                </p>
            </div>
        <li>Заявка на поступление</li>
            <div>
                <p>Выпадающее меню, имеет два пункта: "Новая" и "Посмотреть все заявки". Первый пункт позволяет занести в
                    базу данных новую воображаемую заявку на сборку дрона. Второй пункт позволяет посмотреть все заявки,
                    которые находятся в базе данных на данный момент.
                </p>
            </div>
        <li>Остатки</li>
            <div>
                <p>Ведёт на страницу, где можно посмотреть остатки на всех воображаемых складах.
                </p>
            </div>
        <li>Склады</li>
            <div>
                <p>
                    Ведёт на страницу, где можно посмотреть место расположение несуществуеющих складов.
                </p>
            </div>
    </ol>

    <h3>Контакты</h3>
    <p>Внизу страницы находится ссылка на профиль автора проекта на ГитХабе.</p>

</div>

{% endblock %}