{% extends "base.html" %}

{% block content %}

<h3>Адреса складов</h3>
<div><p>На данный момента у нас в пользовании находятся три воображаемых склада:</p>

    <ul>
        {% for i in strge%}
            <li><a href="/storage/{{i[-1]}}">{{i[1]}}</a></li>
        {%endfor%}
    </ul>
<p>На странице каждого из складов можно ознакомится с информацией о них и их местоположением.</p>
</div>
<h3>Ближайший к вам склад</h3>
<div><p>Если вы хотите прийти к нам на склад, вы можете воспользоваться функцией "Склад Рядом" - она позволяет узнать
где находится самый близкий к вашему местоположению склад. Для этого всего лишь нужно ввести адрес места, где вы сейчас находитесь.</p><a href="/nearest_storage">Попробовать функцию "Склад Рядом"</a></div>


{% endblock %}